<div class="lg:flex p-4 gsap-contenido max-w-5xl mx-auto">

    <div class="w-full lg:w-1/2 bg-white mr-2 shadow rounded border border-gray-200">

        <!-- Cuerpo de formulario -->
        <div [formGroup]="usuarioForm" class="">
            <div class="flex items-center p-2 bg-primary-800 rounded-t">
                <app-boton-regresar routerLink="/dashboard/usuarios"></app-boton-regresar>
                <h1 class="ml-2 text-2xl text-white"> Datos de usuario </h1>
            </div>
            <div class="px-4 p-2">
                <div class="flex flex-col lg:flex-row">
                    <div class="w-full mx-2 flex-1 svelte-1l8159u">
                        <div class="font-semibold bold mt-3 text-gray-600 text-sm">
                            <span class="text-red-500"> * </span> Nombre de usuario
                        </div>
                        <div class="bg-white my-2 p-1 flex">
                            <input placeholder="Ej. lmoreno" class="p-1 px-2 border-b-2 tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800 text-sm" formControlName="usuario">
                        </div>
                    </div>
                    <div class="w-full mx-2 flex-1 svelte-1l8159u">
                        <div class="font-semibold mt-3 text-gray-600 text-sm">
                            <span class="text-red-500"> * </span> Email
                        </div>
                        <div class="bg-white my-2 p-1 flex">
                            <input type="email" formControlName="email" placeholder="Ej. lucasmoreno@gmail.com" class="p-1 px-2 border-b-2 tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800 text-sm"></div>
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row">
                    <div class="w-full mx-2 flex-1 svelte-1l8159u">
                        <div class="font-semibold mt-3 text-gray-600 text-sm">
                            <span class="text-red-500"> * </span> Apellido
                        </div>
                        <div class="bg-white my-2 p-1 flex">
                            <input placeholder="Ej. Moreno" formControlName="apellido" class="p-1 px-2 border-b-2 tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800 text-sm">
                        </div>
                    </div>
                    <div class="w-full mx-2 flex-1 svelte-1l8159u">
                        <div class="font-semibold mt-3 text-gray-600 text-sm">
                            <span class="text-red-500"> * </span> Nombre
                        </div>
                        <div class="bg-white my-2 p-1 flex">
                            <input placeholder="Ej. Lucas" formControlName="nombre" class="p-1 px-2 border-b-2 tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800 text-sm"> </div>
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row">
                    <div class="w-full mx-2 flex-1">
                        <div class="font-semibold mt-3 text-gray-600 text-sm">
                            <span class="text-red-500"> * </span> DNI
                        </div>
                        <div class="bg-white mt-2 p-1 flex">
                            <input placeholder="Ej. 34060398" formControlName="dni" class="p-1 px-2 border-b-2 tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800 text-sm">
                        </div>
                    </div>
                    <div class="w-full mx-2 flex-1">
                        <div class="font-semibold mt-2 text-gray-600 text-sm">
                            <span class="text-red-500"> * </span> Rol
                        </div>
                        <div class="bg-white my-2 flex">
                            <select class="bg-white tranform duration-500 focus:border-secondaryColor p-1 py-2 w-full text-sm border-b-2 outline-none" formControlName="role">
                                <option value="USER_ROLE"> Empleado </option>
                                <option value="ADMIN_ROLE"> Administrador </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row mt-2">
                    <div class="w-full mx-2 flex-1">
                        <div class="font-semibold mt-3 text-gray-600 text-sm">
                            <span class="text-red-500"> * </span> Contraseña
                        </div>
                        <div class="bg-white my-2 p-1 flex">
                            <input type="password" formControlName="password" placeholder="******" class="p-1 px-2 border-b-2 tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800 text-sm">
                        </div>
                    </div>
                    <div class="w-full mx-2 flex-1">
                        <div class="font-semibold mt-3 text-gray-600 text-sm">
                            <span class="text-red-500"> * </span> Repetir contraseña
                        </div>
                        <div class="bg-white my-2 p-1 flex">
                            <input type="password" formControlName="repetir" placeholder="******" class="p-1 px-2 border-b-2 tranform duration-500 focus:border-secondaryColor appearance-none outline-none w-full text-gray-800 text-sm"> </div>
                    </div>
                </div>
                <div class="flex flex-col lg:flex-row mt-2">
                    <div class="w-full mx-2 flex-1">
                        <div class="font-semibold mt-3 text-gray-600 text-sm">
                            <span class="text-red-500"> * </span> Estado
                        </div>
                        <div class="bg-white my-2 flex">
                            <select class="bg-white tranform duration-500 focus:border-secondaryColor p-1 py-2 w-full text-sm border-b-2 outline-none" formControlName="activo">
                                <option value=true> Activo </option>
                                <option value=false> Inactivo </option>
                            </select>
                        </div>
                    </div>
                    <div class="w-full mx-2 flex-1"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="w-full lg:w-1/2 mt-2 lg:mt-0 h-full">
        <!-- Creacion de usuario -->
        <div class="bg-white border shadow border-gray-300 p-4 rounded ">
            <div class="flex mb-2">
                <div *ngIf="usuarioForm.value.role === 'ADMIN_ROLE'" class="bg-blue-100 flex items-center justify-center w-32 h-32 rounded-full shadow border border-blue-200">
                    <p class="text-6xl font-semibold text-blue-900"> A </p>
                </div>
                <div *ngIf="usuarioForm.value.role === 'USER_ROLE'" class="bg-orange-100 flex items-center justify-center w-32 h-32 rounded-full shadow border border-orange-200">
                    <p class="text-6xl font-semibold text-orange-500"> E </p>
                </div>
                <div class="ml-4 mt-2">
                    <div class="mt-1">

                        <!-- Usuario de sistema -->
                        <div class="text-xl lg:text-3xl">
                            <p *ngIf="usuarioForm.value.usuario.trim() !== ''" class="font-semibold"> {{ usuarioForm.value.usuario }} </p>
                            <p class="text-gray-400" *ngIf="usuarioForm.value.usuario.trim() == ''"> Nombre de usuario </p>
                        </div>

                        <!-- Apellido y Nombre -->
                        <div class="text-md lg:text-2xl">
                            <p *ngIf="usuarioForm.value.nombre.trim() || usuarioForm.value.apellido.trim()" class="capitalize"> {{ usuarioForm.value.nombre.toLowerCase() }} {{ usuarioForm.value.apellido.toLowerCase() }} </p>
                            <p class="text-gray-400" *ngIf="usuarioForm.value.nombre.trim() == '' && usuarioForm.value.apellido.trim() == ''"> Apellido y Nombre </p>
                        </div>

                        <!-- Correo electronico -->
                        <div class="text-xs lg:text-lg text-gray-400">
                            <p *ngIf="usuarioForm.value.email.trim() !== ''"> {{ usuarioForm.value.email.toLowerCase() }} </p>
                            <p *ngIf="usuarioForm.value.email.trim() == ''"> Correo electrónico </p>
                        </div>

                    </div>
                </div>
            </div>
            <app-boton-formulario class="mt-2" [deshabilitado]="!usuarioForm.valid || (usuarioForm.value.password.trim() !== usuarioForm.value.repetir.trim())" texto="Crear este usuario" (click)="nuevoUsuario()"></app-boton-formulario>
        </div>

        <!-- Permisos de usuario -->
        <!-- <div *ngIf="usuarioForm.value.role === 'USER_ROLE'" class="bg-white border rounded mt-2 p-4 shadow">

            <h1 class="font-semibold text-xl"> Permisos de usuario </h1>
            <p class="text-gray-500 text-sm"> Seleccione los permisos para el usuario emp </p>
            <div class="mt-2 flex items-center">

                <div class="w-1/2">
                    <p class="font-semibold"> Usuarios </p>
                    <select [(ngModel)]="permisos.usuarios" class="p-2 mt-1 w-full shadow bg-white border border-gray-200 rounded focus:outline-none">
                        <option value="USUARIOS_NOT_ACCESS"> Sin acceso </option>
                        <option value="USUARIOS_ALL"> Permiso total </option>
                        <option value="USUARIOS_READ"> Solo lectura </option>
                    </select>
                </div>

                <button (click)="control_permisos('NAV_USUARIOS')" class="border p-2 rounded bg-gray-100 mt-4 focus:outline-none"> Usuarios </button>

            </div>
        </div> -->

    </div>
</div>