<nav [ngClass]="{'-translate-x-0 ease-in opacity-100' : this.dataService.showMenu === true, '-translate-x-full ease-out opacity-0':this.dataService.showMenu === false}" class="absolute inset-0 transform duration-200 lg:transform-none lg:opacity-100 ease-in -translate-x-full lg:relative z-10 w-80 bg-primary-800 text-white h-full border-r-4 border-secondaryColor p-3">
    <div class="flex justify-between">
        <div title="perfil de usuario" routerLink="perfil" class="flex cursor-pointer hover:text-red-200">
            <div class="bg-red-100 flex items-center justify-center w-14 h-14 rounded-full shadow border border-red-200">
                <p class="text-3xl font-semibold text-red-900"> M </p>
            </div>
            <div class='ml-2 mt-2'>
                <p class="text-xs font-semibold"> {{ authService.mayorista.descripcion }} </p>
                <p class="text-xs"> Mayorista </p>
            </div>
        </div>
        <button (click)="this.dataService.showMenu = false" class="p-2 lg:hidden focus:outline-none focus:bg-gray-600 rounded-md">
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
            </svg>
        </button>
    </div>
    <ul class="mt-5 text-sm">

        <!-- Home -->
        <li routerLinkActive="bg-secondaryColor rounded" routerLink="home" class="flex transform hover:translate-x-2 duration-500 items-center outline-none cursor-pointer p-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
              </svg>
            <a class="ml-2 mt-1"> Inicio </a>
        </li>

        <li routerLinkActive="bg-secondaryColor rounded" routerLink="perfil" class="flex transform hover:translate-x-2 duration-500 items-center outline-none cursor-pointer p-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
            </svg>
            <a class="ml-2 mt-1"> Mis datos </a>
        </li>

        <li *ngIf="authService.mayorista.confirm" routerLinkActive="bg-secondaryColor rounded" routerLink="pedidos/nuevo" class="flex transform hover:translate-x-2 duration-500 items-center outline-none cursor-pointer p-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4" />
            </svg>
            <a class="ml-2 mt-1"> Nuevo pedido </a>
        </li>

        <li *ngIf="authService.mayorista.confirm" routerLinkActive="bg-secondaryColor rounded" routerLink="pedidos/mis-pedidos" class="flex transform hover:translate-x-2 duration-500 items-center outline-none cursor-pointer p-2">
            <svg class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
            </svg>
            <a class="ml-2 mt-1"> Mis pedidos </a>
        </li>

        <!-- Finalizar sesion -->
        <li (click)="logout()" class="flex outline-none transform hover:translate-x-2 duration-500 items-center cursor-pointer p-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
              </svg>
            <a class="ml-2 mt-1"> Cerrar sesion </a>
        </li>

    </ul>
</nav>