<div class="h-screen">
    <div class="h-full flex items-center justify-center">
        <div class="flex flex-col items-center">
            <img src="assets/img/error-page/error-page.svg">
            <p class="text-2xl mt-10"> La página no fue encontrada </p>
            <button routerLink="/dashboard/home" class="text-center transform hover:translate-y-1 hover:bg-secondaryColor hover:text-white duration-500 text-xl font-semibold border px-8 py-3 bg-primary-800 text-white rounded-full mt-10"> Ir al inicio </button>
        </div>
    </div>
</div>