<div class="mr-auto ml-auto text-center">
    <div class="md:flex justify-center mt-10">
        <div class="gsap-contenido">
            <!-- <img class="w-2/3 mr-auto ml-auto rounded" src="assets/img/home/home.svg" alt="Home"> -->
            <img src="assets/img/home/Logo.png" class="w-8/12 mx-auto" alt="Logo de venezia">
            <div class="mx-auto mt-6">
                <p class="text-xl font-semibold text-primary-800"> Sistema para mayoristas </p>
                <p class="font-semibold text-gray-800"> Versión 1.0.0 </p>
                <p class="text-sm text-gray-800 mt-1"> Desarrollado por Equinoccio Technology </p>
                <br>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>