<div class="mr-auto ml-auto text-center">
    <div class="md:flex justify-center mt-10">
        <div class="gsap-contenido">
            <!-- <img class="w-2/3 mr-auto ml-auto rounded" src="assets/img/home/home.svg" alt="Home"> -->
            <img src="assets/img/home/Logo.png" class="w-11/12 mx-auto" alt="Logo de venezia">
            <div class="mx-auto mt-6">
                <p class="text-xl font-semibold text-primary-800"> Sistema para panaderia </p>
                <p class="font-semibold text-gray-800"> Versión 0.0.1 </p>
                <p class="text-sm text-gray-800 mt-1"> Desarrollado por Equinoccio Technology </p>
                <br>
            </div>
            <!-- <div class="flex items-center justify-center text-center">
                <div title="Modulo de usuarios" class="border-2 border-gray-600 shadow p-1 w-max rounded">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-600" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd" />
                      </svg>
                </div>
                <div
                 title="Modulo de stock" class="border-2 ml-2 border-gray-600 shadow p-1 w-max rounded">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-600" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M4 3a2 2 0 100 4h12a2 2 0 100-4H4z" />
                        <path fill-rule="evenodd" d="M3 8h14v7a2 2 0 01-2 2H5a2 2 0 01-2-2V8zm5 3a1 1 0 011-1h2a1 1 0 110 2H9a1 1 0 01-1-1z" clip-rule="evenodd" />
                    </svg>
                </div>
                <div title="Modulo de tareas" class="border-2 ml-2 border-gray-600 shadow p-1 w-max rounded">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-600" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M4 4a2 2 0 012-2h4.586A2 2 0 0112 2.586L15.414 6A2 2 0 0116 7.414V16a2 2 0 01-2 2H6a2 2 0 01-2-2V4zm2 6a1 1 0 011-1h6a1 1 0 110 2H7a1 1 0 01-1-1zm1 3a1 1 0 100 2h6a1 1 0 100-2H7z" clip-rule="evenodd" />
                      </svg>
                </div>
            </div> -->
        </div>
    </div>
    <br>
    <br>
</div>