<!-- Listado de productos -->
<app-modal-medium [showModal]="showModal">
    <div>
        <div class="text-white bg-primary-800 flex items-center justify-between py-2 px-4 rounded-t">
            <h1 class="text-xl"> Agregando producto </h1>
            <button class="focus:outline-none">
                <svg (click)="showModal = false" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>               
            </button>
        </div>
        <div *ngIf="!productoSeleccionado" class="p-4">
            <input type="text" class="p-2 border focus:outline-none text-sm border-primary-400" placeholder="Buscar">
            <div (click)="seleccionarProducto(producto)" *ngFor="let producto of productos" class="my-3 border cursor-pointer hover:border-secondaryColor text-sm border-gray-300 p-2 rounded">
                <h3 class="font-semibold"> {{ producto.descripcion }} </h3>
                <p class="text-xs"> ${{ producto.precio_mayorista | moneda }} x {{ producto.unidad_medida.descripcion }} </p>
            </div>
        </div>
        <div *ngIf="productoSeleccionado" class="p-4">
            <p class="font-semibold"> {{ productoSeleccionado.descripcion }} </p>
            <p class="text-xs"> {{ productoSeleccionado.precio_mayorista }} x {{ productoSeleccionado.unidad_medida.descripcion }} </p>    
            <div class="flex items-center">
                <input (keyup.enter)="cerrarSeleccion()" [(ngModel)]="cantidad" min="0" type="number" placeholder="Cantidad" class="border text-sm mt-2 focus:outline-none border-gray-300 p-2 rounded">
                <button (click)="agregarProducto()" class="p-2 focus:outline-none border mt-2 ml-2 hover:border-green-300 hover:bg-green-100 rounded border-gray-300 text-green-700">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
                    </svg>    
                </button>
                <button (click)="cerrarSeleccion()" class="p-2 focus:outline-none border mt-2 ml-2 hover:border-red-300 hover:bg-red-100 rounded border-gray-300 text-red-700">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                      </svg>   
                </button>
            </div>
        </div>
    </div>
</app-modal-medium>

<!-- Carrito de compras -->
<div class="p-2">
    <div class="max-w-4xl mx-auto mt-4">
        <div class="bg-primary-800 flex items-center justify-between p-2 rounded-t">
            <h1 class="text-white text-xl"> Listado de productos </h1>
            <button (click)="abrirModal()" title="Agregar producto" class="bg-white text-primary-800 p-2 focus:outline-none rounded hover:text-secondaryColor">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
                  </svg>
            </button>
        </div>
    </div>
    <div>
        <p class="border border-gray-300" *ngFor="let producto of carritos"> {{ producto.descripcion }} </p>
    </div>

</div>